
  /* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #98ccf0; /* Bleu */
  color: #fff; /* Blanc */
}

.container {
  background-color: #d595c5; /* Rouge */
  padding: 20px;
  border-radius: 10px;
}

h1 {
  color: #fff; /* Blanc */
}

form {
  max-width: 600px;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #fff; /* Blanc */
}

input[type="number"], input[type="text"], input[type="submit"] {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #f585f1; /* Vert */
  color: #fff; /* Blanc */
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #f585f1; /* Vert foncé */
}

a {
  color: #fff; /* Blanc */
}

a:hover {
  color: #3498db; /* Bleu clair */
}
